[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group codec-admins
	owner = group mdb/chrome-git-admins
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[access "refs/heads/*"]
	push = group codec-admins
	label-Code-Review = -2..+2 group codec-admins
	label-Code-Review = -2..+2 group codec-committers
	label-Code-Review = -1..+1 group Logged-in Public Users
	label-Verified = -1..+1 group codec-admins
	label-Verified = -1..+1 group codec-committers
	label-Verified = -1..+1 group webm-committers
	submit = group codec-admins
	submit = group codec-committers
	submitAs = group codec-admins
	submitAs = group codec-committers
[access "refs/meta/config"]
	read = group codec-admins
[project]
	description = libgav1 -- an AV1 decoder
[access "refs/tags/*"]
	createSignedTag = group codec-admins
[access "refs/for/*"]
	rebase = group codec-admins
	rebase = group codec-committers
	addPatchSet = group codec-admins
	addPatchSet = group codec-committers
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
