[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group codec-admins
	owner = group mdb/chrome-git-admins
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[access "refs/heads/*"]
	push = group codec-admins
[access "refs/for/*"]
	label-Code-Review = -2..+2 group codec-admins
	label-Code-Review = -1..+1 group Logged-in Public Users
	label-Verified = -1..+1 group codec-admins
[access "refs/meta/config"]
	read = group codec-admins
